$primary-color:#9356dc;
$secondary-color:#ff79da;

@mixin degraded {
    background: linear-gradient($secondary-color, $primary-color)
}

.button__degraded {
    width: 218px;
    height: 50px;
    border-radius: 25px;

    @include degraded;

    h3{
        color:white;
        margin-top: 13px;
    }

    &:hover {
        filter: brightness(1.5);
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
    }
}