$bg-color: #F6F6F6;
$primary-color:#9356dc;
$bg-card-color: #FFFFFF;

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin button-shadow {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
}

.fonction {
    background-color: $bg-card-color;
    width: 100%;
    @include flex-column;
    @include button-shadow;
    gap: 30px;
    padding: 30px;

    &__button {
        display:flex;
        align-items: center;
        width: 90%;
        height: 72px;
        border-radius: 20px;
        background-color: $bg-color;
        gap: 40px;

        &--circle {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: $primary-color;
            margin-left: -10px;

            h3 {
                color:white;
                text-align: center;
                font-weight: bold;
                margin-top:2px;
            }
        }
    }

    .fa-solid {
        color: #7e7e7e;
    }

    .fa-color {
        color:$primary-color;
    }
}