$bg-color: #F6F6F6;
$bg-card-color: #FFFFFF;
$tertiary-color:#99e2d0;
$tertiary-text-color: #008766;

@mixin button-shadow {
    box-shadow: 0 4px 15px black;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

.restaurants {
    @include flex-column;
    gap: 18px;
    background-color: $bg-color;
    gap: 30px;
    padding: 30px;

    &__card {
        @include flex-column;
        @include button-shadow;
        background-color: $bg-card-color;
        border-radius: 15px;
        padding: 0 13px 0 13px;
        width: 80%;
        height: 251px; 

        &--pic {
            width: 100%;
            height: 70%;

            a {
                display: none;
                position: absolute;
                top: 10px;
                right: 10px;
                width: 80px;
                height: 29px;
                background-color: $tertiary-color;

                h3 {
                    color: $tertiary-text-color;
                    text-align: center;
                    size: 14px;
                }
            }
        }

        &--content {
            display:flex;
            justify-content: space-between;
            width: 100%;
            height: 30%;

            p {
                font-size: 17px;
            }
        }

        article {
            width: 100%;
            height: 100%;
        }
    }
}