.fonction {
    background-color: $bg-card-color;
    width: 100%;
    @include flex-column;
    gap: 30px;
    padding: 24px;

    &__button {
        display:flex;
        align-items: center;
        width: 100%;
        height: 72px;
        border-radius: 20px;
        background-color: $bg-color;
        @include button-shadow;
        gap: 40px;

        &--circle {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: $primary-color;
            margin-left: -10px;

            h3 {
                color:white;
                text-align: center;
                font-weight: bold;
                margin-top:2px;
            }
        }
    }

    .fa-solid {
        color: #7e7e7e;
    }

    .fa-color {
        color:$primary-color;
    }
}