body {
    width: 100%;
    @include flex-column;

    h1, h2, h3, p {
        font-family: 'roboto', sans-serif;
    }

    h1, h2 {
        font-size: 24px;
        font-weight: 700;
    }

    h3 {
        font-size: 18px;
        font-weight: 700; 
    }

    p {
        font-size: 18px;
        font-weight: 300; 
    }

    .fonction-number {
        font-size: 14px;
        font-weight: 500;
    }

    .fonction-text {
        font-size: 16px;
        font-weight: 500;
    }

    .card-city {
        font-size: 17px;
        font-weight: 300;
    }

    .footer_title {
        font-family: 'shrikhand', sans-serif;
        font-weight: 400;
        font-style: italic;
    }

    .footer_text {
        font-family: 'roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
    }
}