/*** Couleurs principales ***/
$primary-color:#9356dc;
$secondary-color:#ff79da;
$tertiary-color:#99e2d0;
$tertiary-text-color: #008766;

/*** Couleurs Background**/
$bg-color: #F6F6F6;
$bg-location-color: #EAEAEA;
$bg-card-color: #FFFFFF;
$bg-footer-color: #353535;