.fonction {
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
    gap: 30px;
    padding: 30px;
}
.fonction__button {
    display: flex;
    align-items: center;
    width: 90%;
    height: 72px;
    border-radius: 20px;
    background-color: #f6f6f6;
    gap: 40px;
}
.fonction__button--circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #9356dc;
    margin-left: -10px;
}
.fonction__button--circle h3 {
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top: 2px;
}
.fonction .fa-solid {
    color: #7e7e7e;
}
.fonction .fa-color {
    color: #9356dc;
}
