.index-restaurants {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    gap: 30px;
    padding: 30px;
}
.index-restaurants__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.index-restaurants__cards a {
    width: 80%;
}
.index-restaurants__cards .card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border-radius: 15px;
    height: 251px;
}
.index-restaurants__cards .card img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.index-restaurants__cards .card .new {
    position: relative;
    top: 10px;
    right: 10px;
    width: 100px;
    height: 50px;
    background-color: #99e2d0;
}
.index-restaurants__cards .card .new .index-restaurants {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    gap: 30px;
    padding: 30px;
}
.index-restaurants__cards .card .new .index-restaurants__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.index-restaurants__cards .card .new .index-restaurants__cards a {
    width: 80%;
}
.index-restaurants__cards .card .new .index-restaurants__cards .card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border-radius: 15px;
    height: 251px;
}
.index-restaurants__cards .card .new .index-restaurants__cards .card img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.index-restaurants__cards .card .new .index-restaurants__cards .card .new {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    width: 100px;
    height: 50px;
    background-color: #99e2d0;
}
.index-restaurants__cards .card .new .index-restaurants__cards .card .new h3 {
    color: #008766;
}
.index-restaurants__cards .card .new .index-restaurants__cards .card__content {
    height: 25%;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.index-restaurants__cards .card .new h3 {
    color: #008766;
}
.index-restaurants__cards .card__content {
    height: 25%;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
