.restaurants {
    display: flex;
    flex-direction: column;
    gap: 18px;
    background-color: #f6f6f6;
}
.restaurants__card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 15px black;
    background-color: #fff;
    border-radius: 15px;
    padding: 0 13px 0 13px;
    width: 80%;
    height: 251px;
}
.restaurants__card--pic {
    width: 100%;
    height: 70%;
}
.restaurants__card--content {
    display: flex;
    justify-content: space-between;
    height: 30%;
}
.restaurants__card--content p {
    font-size: 17px;
}
