* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

/*** Couleurs principales ***/
/*** Couleurs Background**/
body {
  width: 100%;
  display: flex;
  flex-direction: column;
}
body h1 {
  font-family: "Shrikhand", sans-serif;
  font: italic 30px;
  font-weight: 400;
}
body h2, body h3, body p {
  font-family: "roboto", sans-serif;
}
body h2 {
  font-size: 24px;
  font-weight: 700;
}
body h3 {
  font-size: 16px;
  font-weight: 500;
}
body p {
  font-size: 18px;
  font-weight: 300;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  width: 100%;
  height: 63px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 3px;
}

.header__restaurant {
  position: relative;
  box-shadow: 0 0 0 0 transparent;
}
.header__restaurant i {
  font-size: 30px;
}
.header__restaurant--arrow {
  position: absolute;
  left: 30px;
}

footer {
  background-color: #353535;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 22px 0 22px 25px;
  color: white;
}
footer h2 {
  font-family: "Shrikhand", sans-serif;
}
footer i, footer p {
  color: white;
}
footer .nav {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 7px;
}
footer .nav__icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.restaurant__footer {
  margin-top: -30px;
}

.fonction {
  background-color: #FFFFFF;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 24px;
}
.fonction__button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 72px;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  gap: 40px;
}
.fonction__button--circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356dc;
  margin-left: -10px;
}
.fonction__button--circle h3 {
  color: white;
  text-align: center;
  font-weight: bold;
  margin-top: 2px;
}
.fonction .fa-solid {
  color: #7e7e7e;
}
.fonction .fa-color {
  color: #9356dc;
}

.location {
  background-color: #EAEAEA;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

.exploration {
  background-color: #F6F6F6;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0 30px 0;
}
.exploration__title {
  width: 275px;
  height: 68px;
  text-align: center;
}
.exploration__paragraphe {
  width: 315px;
  height: 46px;
  text-align: center;
  margin-bottom: 30px;
}

.index-restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  gap: 30px;
  padding: 30px;
}
.index-restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.index-restaurants__cards a {
  width: 100%;
}
.index-restaurants__cards .card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  background-color: #FFFFFF;
  border-radius: 15px;
  height: 251px;
  position: relative;
}
.index-restaurants__cards .card img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.index-restaurants__cards .card .new {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background-color: #99e2d0;
}
.index-restaurants__cards .card .new h3 {
  color: #008766;
  text-align: center;
  margin: 5px 0 5px 0;
}
.index-restaurants__cards .card .old {
  position: none;
}
.index-restaurants__cards .card__content {
  height: 25%;
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index-restaurants__cards .card__content--heart {
  position: relative;
}
.index-restaurants__cards .card__content--heart i {
  font-size: 20px;
  position: absolute;
  right: 10px;
}

.restaurant img {
  width: 100%;
  height: 275px;
}
.restaurant section {
  width: 100%;
}
.restaurant__menu {
  background-color: #F6F6F6;
  border-radius: 25px 25px 0 0;
  padding: 30px 20px 30px 20px;
  position: relative;
  top: -30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.restaurant__menu--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}
.restaurant__menu--title i {
  position: absolute;
  right: 30px;
  bottom: 10px;
  font-size: 30px;
}
.restaurant__menu--submenu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.restaurant__menu--submenu--title {
  width: 40px;
  height: 32px;
  border-bottom: solid 3px #99e2d0;
  padding-bottom: 5px;
}
.restaurant__menu--submenu--card {
  background-color: #FFFFFF;
  border-radius: 15px;
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: space-between;
  border: none;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  overflow: hidden;
  padding: 0 0 0 0;
}
.restaurant__menu--submenu--card--text {
  height: 100%;
  margin-left: 20px;
  margin-top: 14px;
  text-align: left;
}
.restaurant__menu--submenu--card .check-price {
  display: flex;
  height: 100%;
  margin-right: -60px;
  transition: transform 250ms ease-in-out;
}
.restaurant__menu--submenu--card .check-price .price {
  margin-right: 15px;
  padding-top: 35px;
}
.restaurant__menu--submenu--card .check-price .check {
  height: 100%;
  width: 59px;
  border-radius: 0 15px 15px 0;
  background-color: #99e2d0;
  padding-top: 24px;
}
.restaurant__menu--submenu--card .check-price .check .fa-circle-check {
  color: white;
  font-size: 20px;
}
.restaurant__menu--submenu button:hover > .check-price, .restaurant__menu--submenu button:active > .check-price {
  transform: translate(-60px);
}

.entree {
  animation: entree_translate 3000ms ease-in-out;
}

.menu {
  animation: menu_translate 3000ms ease-in-out;
}

.dessert {
  animation: dessert_translate 3000ms ease-in-out;
}

@keyframes entree_translate {
  0% {
    translate: -100%;
  }
  33% {
    translate: 0;
  }
  66% {
    translate: 0;
  }
  100% {
    translate: 0;
  }
}
@keyframes menu_translate {
  0% {
    translate: -100%;
  }
  33% {
    translate: -100%;
  }
  66% {
    translate: 0;
  }
  100% {
    translate: 0;
  }
}
@keyframes dessert_translate {
  0% {
    translate: -100%;
  }
  66% {
    translate: -100%;
  }
  100% {
    translate: 0;
  }
}
.button__degraded {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}
.button__degraded h3 {
  color: white;
  margin-top: 13px;
  text-align: center;
}
.button__degraded:hover {
  filter: brightness(1.1);
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
}

.full-heart {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#ff79da, #9356dc);
  opacity: 0%;
  transition: opacity 1s ease-in-out;
}

.empty-heart {
  opacity: 100%;
  transition: opacity 0.5s ease-in-out;
}

.card__content--heart:hover > .full-heart {
  opacity: 100%;
}

.card__content--heart:hover > .empty-heart {
  opacity: 0%;
}

.spinner-container {
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: space_spin 3000ms ease-in-out;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #9356dc;
  border-left-color: #ff79da;
  border-bottom-color: #ff79da;
  border-right-color: #9356dc;
  border-radius: 100%;
  animation: spin 3000ms ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes space_spin {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
