.fonction {
    background-color: $bg-card-color;
    width: 100%;
    @include flex-column;
    gap: 30px;
    padding: 24px;

    &__button {
        display:flex;
        align-items: center;
        width: 100%;
        height: 72px;
        border-radius: 20px;
        background-color: $bg-color;
        @include button-shadow;
        gap: 40px;

        &--circle {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: $primary-color;
            margin-left: -10px;

            h3 {
                color:white;
                text-align: center;
                font-weight: bold;
                margin-top:2px;
            }
        }
    }

    .fa-solid {
        color: #7e7e7e;
    }

    .fa-color {
        color:$primary-color;
    }
}

.location {
    background-color: $bg-location-color;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.exploration {
    background-color: $bg-color;
    width: 100%;
    @include flex-column;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;

    &__title {
        width: 275px;
        height: 68px;
        text-align: center;
    }

    &__paragraphe {
        width: 315px;
        height: 46px;
        text-align: center;
        margin-bottom: 30px;
    }
}