.index-restaurants {
    @include flex-column;
    background-color: $bg-color;
    gap: 30px;
    padding: 30px;

    &__cards {
        @include flex-column;
        gap: 20px;

        a {
            width: 100%;
        }

        .card {
            @include flex-column;
            @include button-shadow;
            background-color: $bg-card-color;
            border-radius: 15px;
            height: 251px;
            position: relative;

            img {
                width: 100%;
                height:75%;
                object-fit:cover;
                border-radius: 15px 15px 0 0;
            }

            .new {
                position: absolute;
                top: 10px;
                right: 10px; 
                width: 80px;
                height: 29px;
                border-radius:2px;
                background-color: $tertiary-color;

                h3 {
                    color: $tertiary-text-color;
                    text-align: center;
                    margin: 5px 0 5px 0;
                }
            }

            .old {
                position: none;
            }

            &__content {
                height: 25%;
                padding: 10px 20px 10px 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}

.restaurant {
    img {
        width: 100%;
        height: 275px;
    }

    section {
        width: 100%;
    }

    &__menu {
        background-color: $bg-color;
        border-radius: 25px 25px 0 0;
        padding: 30px 20px 30px 20px;
        position: relative;
        top: -30px;
        @include flex-column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        &--title {
            display:flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            width: 100%;

            i {
                position: absolute;
                right: 30px;
                bottom: 10px;
            } 
        }

        &--submenu {
            @include flex-column;
            gap: 20px;

            &--title {
                width: 40px;
                height: 32px;
                border-bottom: solid 3px $tertiary-color;
                padding-bottom: 5px;
            }

            &--card {
                background-color: $bg-card-color;
                border-radius: 15px;
                width: 100%;
                height: 69px;
                display: flex;
                justify-content: space-between;
                border: none;
                @include button-shadow;
                overflow:hidden;
                padding: 0 0 0 0;

                &--text {
                    height: 100%;
                    margin-left: 20px;
                    margin-top: 14px;
                    text-align:left; 
                }

                .check-price {
                    display: flex;
                    height: 100%;
                    margin-right: -60px;
                    transition: transform 250ms ease-in-out;

                    .price {
                        margin-right: 15px;
                        padding-top: 35px;
                    }

                    .check {
                        height: 100%;
                        width: 59px;
                        border-radius: 0 15px 15px 0;
                        background-color: $tertiary-color;
                        padding-top: 24px;
        
                        .fa-circle-check {
                            color: white;
                        }
                    }
                }
            }

            button:hover > .check-price, button:active > .check-price {
                transform: translate(-60px);
            }
        }
    }
}